<div class="row">

    <div class="col-md-2 list-group">
        <ul class="nav flex-column">
            <li class="nav-item ">
                <a class="nav-link list-group-item list-group-item-action " routerLink="/alumnos/lista" routerLinkActive="active">Lista Alumnos</a>
            </li>
           
            <li class="nav-item ">
                <a class="nav-link list-group-item list-group-item-action " routerLink="/alumnos/nuevo" routerLinkActive="active">Agregar Alumno</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link list-group-item list-group-item-action " routerLink="/alumnos/pagos" routerLinkActive="active">Lista De Pagos</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link list-group-item list-group-item-action " routerLink="/alumnos/nuevoPago" routerLinkActive="active">Agregar Pago</a>
            </li>
           
        </ul>
 

    </div>
 
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
 
</div>
